boto3==1.43.108
feedgen==1.0.0
google-api-python-client==2.201.0
google-auth==2.59.1
Pillow==12.3.0
PyYAML==6.0.3
requests==2.34.2
bgutil-ytdlp-pot-provider==2.0.1
yt-dlp-getpot-wpc==1.1.2
yt-dlp[default]==2026.8.19
